body{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
padding:20px;
}

@media screen and (max-width:1000px){
div.navbar li.right,
div.navbar li{float:none;}
}

.navbar{
list-style-type:none;
overflow:hidden;
background-color:#333;
opacity:.80;
}

ul{
list-style-type:none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
float:left;
}

li a {
display:block;
color: white;
text-align:center;
padding:14px 16px;
text-decoration:none;
}

li a:hover:not(.active){
background-color:#1111;
}

.active{
background-color:#4CAF50;
}

.center{
text-align: center;
}

.middle{
float:none;
margin: 0 auto;
}

.form{
border:medium solid blue;
margin:10 350;
border-radius:20px;
padding-bottom:5px;
}

input[type=text],input[type=email],input[type=password]{
margin:0 auto;
display:block;
border-radius:25px;
padding:10px;
font-size:15px;
}

input[type=text],input[type=radio]{
margin:0 auto;
display: block;
border-radius: 25px;
padding:10px;
font-size: 25px;
text-align:center;
}

input[type=radio]{
display:inline;
margin:10px;
}

input[type=radio] h4 {
margin:15px;
}


input[type=submit]{
        display: block;
        width:100px;
        height:50px;
        margin:10 auto;
/*      margin-top:30px;
        margin-left: 250px;
*/
        font-size: 15px;
        border-radius: 25px;
        padding-left: 10px;
        padding-right: 10px;
}

.link{
display:block;
text-decoration:none;
font-size:23px;
margin:50 auto;
text-align:center;
padding:10px;
}

.link:hover{
text-decoration:none;
font-size:38px;
margin:50 auto;
text-align:center;
padding:10px;}
}

